body{
    margin: 0;
    margin-top: -51px;
}
header{
    display: flex;
    align-items: center;
    background: #b4c2f36e;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 4;
}
#navitens{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}
#headerlogo{
    color: white;
    font-size: 1.5rem;
    margin-left: 4rem;
    text-decoration: none;
}
.navlink{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    transition: 0.3s;
}
#logodiv{
    display: flex;
    position: relative;
    background: url(ant-rozetsky-q-DJ9XhKkhA-unsplash.jpg) no-repeat;
    background-size: 100% 152%;
    padding-bottom: 2vw;
    flex-direction: column;
    color: rgb(0, 0, 0);
    --mask:
    radial-gradient(14.696rem at 50% calc(100% - 18.375rem),#000 99%,#0000 101%) calc(50% - 12.25rem) 0/24.5rem 100%,
    radial-gradient(13.696rem at 50% calc(89% + 0.063rem),#0000 99%,#000 101%) 50% calc(100% - 6.125rem)/24.5rem 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    z-index: 3;
    animation: wve 20s linear infinite;
}
@keyframes wave {
    0% {top: 0px;
    }
    50% {top: 200px;
    }
    100% {top: 0px;
    }
}
.a{
    display: flex;
    margin: auto;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #70a8fe3d;
    justify-content: center;

}
#logo{
    font-size: 6rem;
    margin-top: 9rem;
    margin-bottom: 1rem;
}
#subtitulo{
    font-style: oblique;
    margin-bottom: 13rem;
}
.divnormal{
    background-color: #70a8fe1c;
    border-radius: 10px;
    color: white;
}
#div1{
    margin-left: 3vw;
    max-width: 45vw;
    margin-top: 8rem;
    padding: 0.5rem;
    font-size: 1.3rem;
}
#div2{
    padding-bottom: 80rem;
    background-color: rgba(0, 0, 0, 0);
}
main{
    background-image: linear-gradient(#00b2c8,#00141a);
    padding-top: 10rem;
    margin-top: -13rem;
}